@media (min-width: 767.98px) {
  .bestsellers {
    &-title {
      font-size: 31px;
      line-height: 37px;
      font-family: 'GothamPro', sans-serif;
      font-weight: 300;
      padding-top: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .icon-arrow {
        margin-left: 10px;
      }
    }

    &-slider {
      &__nav {
        width: 60px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 26px;
        right: 41px;

        &-right,
        &-left {
          cursor: pointer;
          background: #f6f6f6;
          padding: 5px 7px;
          text-align: center;
          border-radius: 50%;
        }
      }
    }

    &-card {
      margin-top: 25px;
      padding: 20px;
      position: relative;
      margin-right: 30px;
      max-width: 247px;
      justify-content: space-between;

      &__labels {
        &-new {
          display: none;
        }
      }

      &__description {
        width: 100%;

        &-product {
          font-size: 15px;
          line-height: 18px;
        }
      }

      &__price {
        width: 57%;

        &-old {
          display: none;
        }

        &-new {
          font-size: 19px;
          line-height: 23px;
          color: $black;
        }
      }

      &__options {
        order: 4;
        align-items: end;
        width: 33%;
        margin-bottom: 10px;

        .icon-heart {
          margin-right: 15px;
        }
      }

    }
  }
}

@media (min-width: 1279.98px) {
  .bestsellers {
    &-card {
      max-width: 280px;

      &__labels {
        flex-direction: row;

        &-new {
          display: flex;
        }

        &-best {
          margin-top: 0px;
          margin-left: 10px;
        }
      }

      &__price {
        width: 78%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;


        &-old {
          display: flex;
          left: 15px;
        }
      }

      &__options {
        width: 18%;
        margin-bottom: 10px;
        right: 18px;
      }
    }
  }
}