@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";

@import "libs/_fonts";
@import "base/_variables";
@import "blocks/_bestsellers";
@import "blocks/_buttons";


* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: 'GothamPro', sans-serif;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 20px;
}