@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";

@import "libs/_fonts";
@import "base/_variables";
@import "blocks/_bestsellers";
@import "media/_bestsellers_media";
@import "blocks/_buttons";
@import "media/_buttons_media";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: 'GothamPro', sans-serif;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 767.98px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (min-width: 1279.98px) {
  .container {
    width: 100%;
    padding: 0 45px;
  }
}